
<ion-content>
  <app-map></app-map>
</ion-content>
<ion-footer>
  <ion-tab-bar slot="bottom" color="blue">
    <ion-tab-button tab="home" class="menu" (click)="irMenu()">
      <ion-icon name="home-outline" ></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="radio" (click)="irPerfil()">
      <ion-icon name="person-outline"></ion-icon>
      Perfil
    </ion-tab-button>
    <ion-tab-button tab="search" (click)="irAjustes()">
      <ion-icon name="settings-outline"></ion-icon>
      Ajustes
    </ion-tab-button>
    <ion-tab-button tab="search" (click)="ubicacion()">
      <ion-icon name="locate-outline"  style="color: white;"></ion-icon>
      Ubicacion
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
