<ion-header [translucent]="true">
  <ion-toolbar color="blue">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="white">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">recuperarcontra</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row>
      <ion-col>

        <div class="ion-text-center">
          <img src="assets/icon/g-trip.png" alt="Sin imagen" width="80%">
        </div>

        <div class="ion-text-center">
          <p style="word-wrap: break-word;white-space: normal;">Recuerda que al modificar tu contraseña, deberas volver
            a iniciar sesión</p>
        </div>

          
        <ion-card style="border-radius: 40px;" class="ion-text-center">
            <ion-card-content>
              <form (submit)="modificarContrasena()">
                <ion-item>
                  <ion-label style="color: white;" position="floating">Nueva Contraseña:</ion-label>
                  <ion-input placeholder="Ingresa tu nueva contraseña" [(ngModel)]="nuevaContrasena"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label style="color: white;" position="floating">Repetir Contraseña:</ion-label>
                  <ion-input placeholder="Repetir nueva contraseña" [(ngModel)]="repetirContrasena"></ion-input>
                </ion-item>
                <div class="ion-text-center" id="separar">
                  <ion-button type="submit" shape="round" expand="block" color="blue">Confirmar</ion-button>
                  <ion-button shape="round" expand="block" color="blue" (click)="volver()">Regresar</ion-button>
                </div>
              </form>
            </ion-card-content>
        </ion-card>
            
            
        

        <br />

        <br />

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
