ion-item {
    --padding-start: 0;
}

.boton {
    padding-left: 40%;
}

.informacion {
    text-align: center;
    color: white;
}

.imagen {
    width: 100px;
    height: 100px;
}

.nombre {
    font-size: 20px;
}
  