.desing{

    border-radius: 20%;
    margin-top: 20px;
    
}
.detalle-container {
    margin-bottom: 20px; /* Ajusta este valor para controlar la separación entre cada conjunto de elementos */
    border-bottom: 1px solid #ccc; /* Opcional: puedes añadir un borde inferior para separar visualmente */
    padding-bottom: 10px; /* Opcional: añade un espacio en la parte inferior para mejorar la legibilidad */
  }